body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: url(bg3.webp);
}

.special-header {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
}

.special-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.special-header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.featured-books, .special-offers {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.book, .offer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.book img, .offer img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
}

.navbar {
    background-color: #746f6f;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
.navbar-actions {
    display: flex;
}

.navbar-actions a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
}